<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <main class="tweetContainer">
  <div class="card">
    <ul class="columnOne">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Explore</a>
      </li>
      <li>
        <a href="#">Notifications</a>
      </li>
      <li>
        <a href="#">Messages</a>
      </li>
      <li>
        <a href="#">Bookmarks</a>
      </li>
      <li>
        <a href="#">Lists</a>
      </li>
      <li>
        <a href="#">Profile</a>
      </li>
      <li>
        <a href="#">Tweet</a>
      </li>
    </ul>
  </div>
  <div class="card">
    <div class="card_child">
      <h1>Ghetto Twitter</h1>
    </div>
    <div class="card_child">
      <form action="/todos/createTodo" method='POST'>
        <div class="tweetBox">
          <textarea id="tweet" name="todo"
          rows="12" cols="45" class="card_child">
          </textarea>
        </div>
        <div class="card_child">
          <button type="submit">Submit</button>
        </div>    
      </form>
    </div>
<!--     <h2><%= user.userName %> has <%= left %> things left to      do.</h2> -->
    <ul class="tweetContainerTwo">
    <% todos.forEach( el => { %>
            <li class='tweetCard' data-id='<%=el._id%>'>
              <div class='tweetCardTop'>  
                <span class='<%= el.completed === true ?                    'completed' : 'not'%>'><%= el.todo %>                      </span>
              </div>
              <div class='tweetCardBottom'>
                <button type="button" class='del'>      
                  Delete </button>
                <button type="button">Like</button>
              </div>
            </li>
    <% }) %>    
    </ul>
  </div>
  <div class="card">
    <a href="/logout">Logout</a>
  </div>
  </main>

  

    <script src="js/main.js"></script>
</body>
</html>