<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <main class="tweetContainer">
  <div class="card">
    <ul class="columnOne">
      <li>Home</li>
      <li>Explore</li>
      <li>Notifications</li>
      <li>Messages</li>
      <li>Bookmarks</li>
      <li>Lists</li>
      <li>Profile</li>
      <li>Tweet</li>
    </ul>
  </div>
  <div class="card">
    <div class="card_child">
    <h1>Ghetto Twitter</h1>
    </div>
    <div class="card_child">
      <form action="/todos/createTodo" method='POST'>
        <div>
        <textarea id="tweet" name="todo"
          rows="12" cols="45" class="card_child">
          Enter Tweet Here...
        </textarea>
        </div>
        <div class="card_child">
        <input type="submit">
        </div>    
      </form>
    </div>
    <h2><%= user.userName %> has <%= left %> things left to      do.</h2>
    <ul class="tweetContainerTwo">
    <% todos.forEach( el => { %>
            <li class='tweetCard' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ?                    'completed' : 'not'%>'><%= el.todo %>                      </span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>
  </div>
  <div class="card">
    <a href="/logout">Logout</a>
  </div>
  </main>

  

    <script src="js/main.js"></script>
</body>
</html>